/*color theme*/
:root {
  --theme-color-1: #F6F6F6;
  --theme-color-2: #DBE3E5;
  --theme-color-3: #2B4753;
  --theme-color-4: #253542;
  --theme-color-5: #D9B45D;
  --theme-color-6: #D0894B;
}

* {
  box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
  background-color: var(--theme-color-1);
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
/* Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--theme-color-4);
    color: var(--theme-color-1);
    height: 60px;
  }
  
  header h1 {
    font-size: 24px;
    margin: 0;
  }
  
  header nav {
    display: none;
  }
  
  header a {
    color: var(--theme-color-1);
    text-decoration: none;
        margin: 0 10px;
  }
  
  header a:hover {
    color: var(--theme-color-5);
  }
  
  .menu-button {
    background-color: var(--theme-color-6);
    border: none;
    color: var(--theme-color-1);
    font-size: 18px;
    cursor: pointer;
  }
  
  .menu-button:hover {
    color: var(--theme-color-2);
  }
  
  @media (min-width: 768px) {
    header nav {
      display: block;
    }
    .menu-button {
      display: none;
    }
  }

  .open {
    display: block;
  }
  
/*Main content*/

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    position: relative; 
    margin-top: 60px;
  }
  
  .container > div{
    padding: 30px;
  }

  .left-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-section img {
    width: 100%;
  }
  
  .right-section {
    width: 50%;
    padding: 0 20px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
    }
    .left-section {
      width: 100%;
    }
    .right-section {
      width: 100%;
      transform: translateY(0);
    }
  }
  
/* Right section*/
/*.container-right-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;

  }
  
   img:hover {
    transition: transform 0.3s;
    transform: scale(1.01);
  }

  .card .card-body {
    padding: 20px;
  }
  
  .card .card-title {
    font-size: 24px;
    margin: 0;
  }
  
  .card .card-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .card {
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .card-hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  

/*footer */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #333;
    color: #fff;
 /*   position: fixed;*/
    bottom: 0;
}

.copyright {
    margin: 0;
    padding: 0 20px;
}

.social-media-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.social-media-links a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}



/*media icons*/

.twitter:before {
    content: '';
    background: url('icons8-twitter-48.png') no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
}

.linked-in:before {
    content: '';
    background: url('./icons8-linkedin-circled-48.png') no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
}

.github:before {
    content: '';
    background: url('./icons8-github-48.png') no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-size: cover;
}